name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    services:
      # Testler sırasında Redis'e ihtiyaç duyulursa diye bir Redis servisi ayağa kaldırıyoruz.
      redis:
        image: redis:alpine
        ports:
          - 6379:6379

    steps:
    - uses: actions/checkout@v3
    
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'maven'
        
    - name: Build with Maven
      run: ./mvnw -B package --file pom.xml

    # Opsiyonel: Test sonuçlarını GitHub arayüzünde rapor olarak görmek isterseniz
    # - name: Publish Test Report
    #   if: always()
    #   uses: mikepenz/action-junit-report@v3
    #   with:
    #     report_paths: '**/target/surefire-reports/TEST-*.xml'
